<div id="page_wrapper">
	<h3>Ahmed Tarek</h3>
	<img src="/assets/newatarek.jpg" width="200" height="200">
  	<br></br>
  	<p>I'm Ahmed Tarek Kamel Abdelfattah Helmy. I'm 20 years old. I LOVE food, travelling and adventures. Friends is the best series ever made. A proud member of TEDxGUC. </p>
</div>