<div id="page_wrapper">
  <img src="/assets/newaya.jpg" width="200" height="200">
  <br></br>
  <h3>Aya Amr</h3>
  <p>Hello, I'm Ayatallah Amr. I'm 20 years old Junior ACMer and studying computer science and engineering at the GUC. I enjoy meeting new people, reading, aerobics and GUESS WHAT?? Coding.</p>
  </div>