<div id="page_wrapper">
  <img src="/assets/images/newwalid.jpg" width="400" height="400">
  <br></br>
  <h3>Ahmed Walid</h3>
  <p>I'm Ahmed Walid Ahmed, I'm 20 years old and I like Gaming and Football.</p>
  </div>