<div class="container" id="main-container">
	<br>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-user" id="user-icon"></span>
				<input type="text" class="form-control" placeholder="Search Users"></input>
			</div>
		</div>
		<div class="col-md-6"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= link_to '/welcome/results', class: 'btn btn-success btn-block custom-text' do%>
  				<i class="glyphicon glyphicon-search"></i>Search
			<% end %>
		</div>
	</div>
</div>