<!DOCTYPE html>
<html>
<head>
	<title>Landing Page</title>
</head>
<body class="landing">

	<div class="container">
	<br>
		<div class="jumbotron">
			<h1>Some homepage stuff goes here</h1>
			<%= render 'shared/breaks' %>
		</div>
	</div>
	<br >
	<%= render 'search_rides' %>

<<<<<<< HEAD
	<div class="tab-content">
		<div class="tab-pane active" id="rides">
			<%= render 'search_rides' %>
		</div>
		<div class="tab-pane" id="users">
			<%= render 'search_users' %>
		</div>
	</div>
=======
>>>>>>> f01a2df0d9e91b953133c1f2bf48168ecba49b0c
</body>
</html>