<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body class="landing">
	<div class="container">
		<br></br>
		<div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted main-color" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span> Karim</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> 2.13.2014</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
            	<li class="list-group-item text-right"><span class="pull-left"><strong class="">Rank: </strong></span> Beginner</li>
            </ul>
            <div class="panel panel-default">
             <div class="panel-heading">
             	<p class="main-color">About my car</p>
            </div>
            <div class="panel-body">Car info goes here.

            </div>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                	<p class="main-color">Social media</p>
                </div>
                <div class="panel-body"><a href="http://Facebook.com">
                	Facebook</a>
                </div>
            </div>
          
            <ul class="list-group">
                <li class="list-group-item text-muted main-color">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Rides offered</strong></span> 15</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Rides joined</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Rating</strong></span> 3.7</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Thumbs up</strong></span> 10</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                	<p class="main-color">Karim's Bio</p>
                </div>
                <div class="panel-body"> A description about me.

                </div>
            </div>
        </div>
	</div>
	<br></br>
	</div>
</body>
</html>