<div id="page_wrapper">
  <img src="/assets/newalfy.jpg" width="250" height="250">
  <br></br>
  <h3>Mohamed El-Alfy</h3>
  <p>Alfy. Mohamed El-Alfy. When the GUC is not sucking the life out of me, I get the chance to play FIFA, watch football, enjoy El Ahwa and read. </p>
</div>