<div id="page_wrapper">
	<h3>Amy Elmossly</h3>
	<img src="/assets/newamy.jpg" width="200" height="200">
  	<br></br>
  	<p>Hi ! I'm Amy Mohamed El-Mossly studying computer science in the GUC. Im origionally from cairo but i live in hurghada now for 15years in hurghada. I like hand crafts reading and playing squash.</p>
</div>