<div id="page_wrapper">
  <img src="/assets/newtaha.jpg" width="300" height="300">
  <br></br>
  <h3>Karim Taha</h3>
  <p>Hi, my name is Karim Mohamed Taha. I'm 20 years old and I study Computer Science and engineering at the German University in Cairo. I enjoy listening to music and watching football games.
</p>
 </div>