<p>
  <strong>Name:</strong>
  <%= comment.user.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
	<% if comment.user_id == current_user.id || user_signed_in? && current_user.admin? %>
		<%= link_to 'Destroy', [comment.post, comment],
			method: :delete,
			data: { confirm: 'Are you sure ya admin?' } %>
	<%end%>              
</p>