<div class="media">
  <h4 class="media-heading"><%= comment.user.username %>
  		<small><%= comment.cr

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
	<%= link_to 'Destroy', [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>


<div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>